
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 3px 10px 10px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  height: 120px;
  width: 150px;
  }
  
h2 {
  color: rgb(35, 35, 184);
  font-size: small;
  margin-left: -20px;
}
  
p {
  color: black;
  font-size:medium;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: -20px;
  
}

.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  top: -30px;
  left: 60px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

